
<div class = "container-fluid" style="background-color: black;">
<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" href="/">Add Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/artists/new">Add New Author</a>
  </li>
 
 
</ul>
</div><h1 class="display-3 text-center">All Books</h1>
<div class = "container">


<table class="table table-hover">
<tr>
<th>Author</th>
<th>Number of books</th>
<th>Birth date</th>
</tr>
<tr>
<% @authors.each do |author| %>
<td><%= link_to  author.name ,author_path(author)  %></td>
<td><%=  author.number_of_books %></td>
<td><%=  author.birthdate %></td>




</tr>
    <% end %>

    </table>
    </div>
